#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.popup {
  position: relative;
  background: white;
  overflow: hidden;
  width: 37.5vw;
  padding-block: 1.8229166667vw;
}

@media screen and (max-width: 768px) {
  .popup {
    width: 78.125vw;
    padding-block: 4.5572916667vw;
  }
}

.popup form, .popup header {
  position: relative;
  z-index: 999;
  width: 26.0416666667vw;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .popup form, .popup header {
    width: 61.328125vw;
  }
}

.popup header {
  display: grid;
  justify-items: center;
}

.popup header h2 {
  color: #3f4b7d;
  font-size: 1.1458333333vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .popup header h2 {
    font-size: 2.8645833333vw;
  }
}

.popup header span {
  color: #3f4b7d;
  font-size: 0.9375vw;
  margin-top: 0.4166666667vw;
  font-weight: 500;
  text-align: center;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .popup header span {
    font-size: 2.34375vw;
    margin-top: 1.0416666667vw;
  }
}

.popup form {
  display: grid;
  gap: 0.5208333333vw;
  margin-top: 1.0416666667vw;
}

@media screen and (max-width: 768px) {
  .popup form {
    gap: 1.3020833333vw;
    margin-top: 2.6041666667vw;
  }
}

.popup form input {
  padding-block: 0.8333333333vw;
}

@media screen and (max-width: 768px) {
  .popup form input {
    padding-block: 2.0833333333vw;
  }
}

.popup form textarea {
  padding-block: 0.5208333333vw;
  height: 4.1666666667vw;
}

@media screen and (max-width: 768px) {
  .popup form textarea {
    padding-block: 1.3020833333vw;
    height: 10.4166666667vw;
  }
}

.popup form input, .popup form textarea {
  border: 0.0520833333vw solid #737eab;
  padding-inline: 1.0416666667vw;
}

@media screen and (max-width: 768px) {
  .popup form input, .popup form textarea {
    border: 0.1302083333vw solid #737eab;
    padding-inline: 1.953125vw;
  }
}

.popup form input::-moz-placeholder, .popup form textarea::-moz-placeholder {
  color: #3f4b7d;
  font-size: 0.7291666667vw;
}

.popup form input::placeholder, .popup form input, .popup form textarea::placeholder, .popup form textarea {
  color: #3f4b7d;
  font-size: 0.7291666667vw;
}

@media screen and (max-width: 768px) {
  .popup form input::-moz-placeholder, .popup form textarea::-moz-placeholder {
    font-size: 1.8229166667vw;
  }
  .popup form input::placeholder, .popup form input, .popup form textarea::placeholder, .popup form textarea {
    font-size: 1.8229166667vw;
  }
}

.popup form button {
  align-items: center;
  margin-top: 0.5208333333vw;
}

@media screen and (max-width: 768px) {
  .popup form button {
    margin-top: 1.3020833333vw;
  }
}

.popup > span {
  font-size: 0.7291666667vw;
  color: #808bbc;
  line-height: 171%;
  text-align: center;
  margin-inline: auto;
  display: block;
  margin-top: 0.2604166667vw;
}

@media screen and (max-width: 768px) {
  .popup > span {
    font-size: 1.5625vw;
    margin-top: 0.6510416667vw;
    line-height: 2;
  }
}

.popup > span a {
  color: #3f4b7d;
}

.popup > span a:hover {
  text-decoration: underline;
}

#close-popup {
  position: absolute;
  right: 1.0416666667vw;
  top: 1.0416666667vw;
}

@media screen and (max-width: 768px) {
  #close-popup {
    right: 2.6041666667vw;
    top: 2.6041666667vw;
  }
}

#close-popup svg {
  width: 1.0416666667vw;
  height: 1.0416666667vw;
}

@media screen and (max-width: 768px) {
  #close-popup svg {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}

#fuck-the-stupid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 48;
}

.solutions-are-developed-btn {
  background-image: linear-gradient(to top, #7382b2 0, #37446a 49%, #9da2bf 50%, #d0d2df 100%);
  background-size: 100% 200%;
  background-position: left bottom;
  transition: 0.5s;
}

.solutions-are-developed-btn:hover {
  background-position: left top;
}

@media screen and (max-width: 768px) {
  .solutions-are-developed-btn {
    font-size: 2.8645833333vw;
  }
}

.open-popup {
  align-items: center;
}

.why-gays-choose-us__block {
  height: 13.5416666667vw;
}

@media screen and (max-width: 768px) {
  .why-gays-choose-us__block {
    height: 32.5520833333vw;
  }
}

html, * {
  cursor: none !important;
}

.mf-cursor {
  z-index: 9999 !important;
}

.mf-cursor::before {
  transition: 0.3s !important;
  background: transparent !important;
  border: 0.1041666667vw solid #B4B4B4;
  mix-blend-mode: color;
  scale: 2;
}

.mf-cursor.-hovered::before {
  scale: 3;
}

.mainframe {
  height: 54.6875vw;
}

@media screen and (max-width: 768px) {
  .mainframe {
    height: 54.8177083333vw;
  }
}

#i-fuck-your-mom {
  animation: 1s fuckyeach infinite;
}

@keyframes fuckyeach {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.aboba-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 1.5vw;
}

.aboba-arrow svg {
  width: 9.8958333333vw;
}

.lol {
  position: relative;
}

.lol::before, .lol::after {
  content: "";
  position: absolute;
  display: block;
  background: #0d0a08;
  width: 0.15625vw;
  height: 13.5416666667vw;
  top: 1.0416666667vw;
}

@media screen and (max-width: 768px) {
  .lol::before, .lol::after {
    height: 45.0520833333vw;
    width: 0.390625vw;
    top: 3.4765625vw;
  }
}

.lol::before {
  left: 30%;
}

.lol::after {
  left: 58%;
}

.contacts-hero {
  overflow: hidden;
  height: 59.8958333333vw;
}

@media screen and (max-width: 768px) {
  .contacts-hero {
    height: 126.3020833333vw;
  }
}

.contacts-hero__wallpaper-image {
  position: absolute;
  width: 598.9583333333vw;
  height: 59.8958333333vw;
  right: -30%;
  top: 0;
}

@media screen and (max-width: 768px) {
  .contacts-hero__wallpaper-image {
    top: 45%;
    left: 10%;
    right: auto;
    height: 100%;
    width: 130.2083333333vw;
    scale: 2.3;
  }
}

.contacts-hero__wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3f4b7d, #3f4b7d 50%, rgba(63, 75, 125, 0.2));
}

@media screen and (max-width: 768px) {
  .contacts-hero__wallpaper {
    background: linear-gradient(to top, #3f4b7d 10%, rgba(255, 255, 255, 0.4) 95%);
  }
}

.contacts-hero__wallpaper span {
  position: absolute;
  bottom: 20vw;
  left: -21.6vw;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  transform-origin: center;
  rotate: -90deg;
  color: #5d698f;
  font-size: 6.25vw;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0.2083333333vw 0.625vw rgba(13, 18, 37, 0.4);
}

@media screen and (max-width: 768px) {
  .contacts-hero__wallpaper span {
    font-size: 14.3229166667vw;
    color: #465177;
    bottom: 50vw;
    left: -50vw;
  }
}

.contacts-hero__decoration {
  width: 38.0208333333vw;
  height: 35.0520833333vw;
}

.kaigner {
  border-bottom: 0.15625vw solid #ee8e15;
}
